:root {
  --black: black;
}

.Button {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  background:  transparent;
  border:none;
  /* background-color:#D83236; */
  cursor: pointer;
  color: rgba(253, 253, 253, .9);
}
.Button:focus, .Button:active{
  outline:none;
}
