.book{
  width: 30px;
  height: 80%;
  background-color: lightblue;
  opacity: 1;
  border: 1px solid black;
  border-radius: 4px;
  transition: opacity 1s linear;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.book span{
  font-size: 1rem;
  padding-top:4px;
  white-space: nowrap;
  letter-spacing: 1.5px;
  font-weight:800;
  text-transform: uppercase;
  transform-origin: bottom left;
  writing-mode:vertical-lr;
  display:block;
}
